body{
    background: lightskyblue;
}

h1{
    text-align: center;
}
#a{
    background: darkblue;
}
.z{
    color: yellow;;
}
div{
    background-color: beige;
}
span{
    background-color: aquamarine;
}