*{
     background: rgb(64, 144, 215);
    text-align:center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1{
    background: lightpink;
    color:rgb(122, 105, 138)
}

div{
   padding-top: 30px;
}
input{
    width: 200px;
    border-radius: 20px;
}
button{
    background: rgb(116, 114, 114);
    width:150px;
    border-radius: 20px;
    margin-top: 20px;
}